* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #ecfeff;
    color: #2f4f2f;
}

/* HEADER */
header {
    background: linear-gradient(90deg, #59895b, #00b7c2);
    padding: 15px 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* MENU */
.menu a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
    opacity: 0.7;
}

/* HERO */
.hero {
    background: linear-gradient(90deg, #59895b, #00b7c2);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
}

.hero-text {
    max-width: 500px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
}

/* IMAGEM HERO */
.hero img {
    width: 350px;
}

/* BOTÃO */
.btn {
    background: white;
    color: #00b7c2;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #ecfeff;
}

/* SEÇÕES */
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    gap: 40px;
}

.section.reverse {
    flex-direction: row-reverse;
}

.section img {
    width: 300px;
    border-radius: 12px;
}

/* TEXTO */
.text h2 {
    margin-bottom: 10px;
    font-size: 26px;
    color: #59895b;
}

.text p {
    color: #444;
    line-height: 1.6;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 10%;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 16px;
    width: 260px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    border-top: 5px solid #00b7c2;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

/* MAPA */
.section img[src="mapa.png"] {
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* CTA FINAL */
.cta {
    background: linear-gradient(90deg, #59895b, #00b7c2);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.cta h1 {
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #59895b;
    color: #ecfeff;
}

/* RESPONSIVO */
@media(max-width: 768px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .section {
        flex-direction: column;
        text-align: center;
    }

    .section.reverse {
        flex-direction: column;
    }

    .hero img {
        margin-top: 20px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}